* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
scroll-behavior: smooth;
}

body {
font-family: Arial, sans-serif;
background: #0f172a;
color: white;
}

/* NAVBAR */

header {
width: 100%;
padding: 20px 8%;
position: fixed;
top: 0;
background: #0f172a;
z-index: 1000;
}

nav {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
color: #38bdf8;
}

nav ul {
display: flex;
gap: 30px;
list-style: none;
}

nav a {
color: white;
text-decoration: none;
transition: 0.3s;
}

nav a:hover {
color: #38bdf8;
}

/* HOME */

.hero {
min-height: 100vh;
display: flex;
align-items: center;
padding: 120px 10%;
}

.hero-text {
max-width: 700px;
}

.hello {
color: #38bdf8;
font-size: 20px;
margin-bottom: 10px;
}

.hero h1 {
font-size: 70px;
margin-bottom: 10px;
}

.hero h2 {
font-size: 30px;
color: #cbd5e1;
margin-bottom: 20px;
}

.hero p {
color: #94a3b8;
font-size: 18px;
line-height: 1.6;
}

/* BOTÕES */

.buttons {
margin-top: 30px;
display: flex;
gap: 15px;
}

.btn,
.btn-outline {
padding: 12px 25px;
border-radius: 8px;
text-decoration: none;
transition: 0.3s;
}

.btn {
background: #38bdf8;
color: #0f172a;
}

.btn:hover {
background: #0ea5e9;
}

.btn-outline {
border: 1px solid #38bdf8;
color: #38bdf8;
}

.btn-outline:hover {
background: #38bdf8;
color: #0f172a;
}

/* SEÇÕES */

section {
padding: 100px 10%;
}

section h2 {
font-size: 35px;
margin-bottom: 25px;
}

/* HABILIDADES */

.skills {
display: flex;
flex-wrap: wrap;
gap: 15px;
}

.skill {
padding: 15px 25px;
border: 1px solid #38bdf8;
border-radius: 8px;
transition: 0.3s;
}

.skill:hover {
background: #38bdf8;
color: #0f172a;
}

/* PROJETOS */

.projects {
display: flex;
flex-wrap: wrap;
gap: 25px;
}

.project {
background: #1e293b;
padding: 25px;
border-radius: 10px;
max-width: 350px;
transition: 0.3s;
}

.project:hover {
transform: translateY(-5px);
}

.project h3 {
margin-bottom: 15px;
}

.project p {
color: #94a3b8;
line-height: 1.5;
margin-bottom: 20px;
}

.project a {
color: #38bdf8;
text-decoration: none;
}

/* FOOTER */

footer {
text-align: center;
padding: 30px;
color: #64748b;
}
